.cart {
  display: flex;
  margin-top: 60px;
}

.cart__items {
  width: 100%;
  margin-right: 60px;
}

.cart__item {
  display: flex;
  margin-bottom: 60px;
  .cart__item__image {
    width: 200px;
    height: 200px;
  }
  .cart__item__info {
    padding: 20px;
    margin-left: 40px;
  }
  .cart__item__interact {
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
    .cancel-item-icon {
      position: absolute;
      font-size: 1.1rem;
      cursor: pointer;
      top: 0;
      right: 0;
    }
  }
}

.cart__payment {
  width: 40%;
  box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
  height: 300px;
  background-color: $white;
  .cart__payment-btn {
    background-color: #000;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    display: block;
    width: 100%;
    border: 0;
    height: 40px;
    font-size: 1.1rem;
  }
}

.cart__empty-cart {
  margin: 0 auto;
  text-align: center;
  .info-icon {
    font-size: 3rem;
  }
}
