.checkout-form {
  margin: auto;
  max-width: 650px;
  form{
    @extend .wrapper;
    padding: 15px;
  }
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 auto;
  padding: 10px 0;
}
