.header {
  display: flex;
  padding: 0 20px;
  background: $white;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header__nav {
  display: flex;
  margin-bottom: 0;
  .header__li {
    margin-right: 0.8rem;
    position: relative;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1.5px;
      background-color: $black;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease;
    }
    &:hover::before {
      transform: scaleX(1);
    }
    a {
      color: $black;
    }
  }
}

.header__cart {
  display: inline-block;
  margin-left: 15px;
  position: relative;
  padding: 5px 20px;
  border: 2px solid $black;
  border-radius: 3px;
  color: $black;
  font-size: 1.5rem;
  &:hover {
    color: $black;
  }
  .cart-badges {
    font-size: 0.7rem;
    background-color: #000;
    color: $white;
    padding: 1px 2px;
    border-radius: 4px;
    display: inline-block;
    margin-left: 5px;
    position: absolute;
    top: 3px;
    right: 15px;
    z-index: 10;
  }
}

.category-list{
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 15px;
  a{
    color: $black;
    display: block;
    &:hover{
      color: #56B3FF;
    }
  }
}