.link {
  text-decoration: none;
  color: $black !important;
  font-size: 1rem;
  &:hover {
    text-decoration: none;
    color: $black !important;
  }
  &:active {
    text-decoration: none;
    color: $black !important;
  }
}
