.preload {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  height: 100%;
  min-height: 100vh;
  z-index: 999;
  opacity: 0.8;
}
