.profile-page {
  .avatar-wrapper {
    text-align: center;
    .wall {
      height: 200px;
      background: #434343;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .avatar-block {
      cursor: pointer;
      width: 100px;
      height: 100px;
      display: inline-block;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #326ada;
      position: relative;
      margin-top: -50px;
      margin-bottom: 80px;
      &::before {
        content: "Update";
        position: absolute;
        width: 100%;
        height: 50%;
        background: rgba(0, 0, 0, 0.5);
        bottom: 0;
        left: 0;
        text-align: center;
        color: #ddd;
        display: none;
        z-index: 5;
      }
      &:hover {
        &::before {
          display: block;
        }
      }
    }
    .avatar-img {
      width: 100%;
      height: 100%;
      display: block;
    }
    #avatar-input {
      display: none;
    }
  }
}

.profile-section{
  @extend .wrapper;
  padding: 15px;
  .profile-title{
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
}