.product-wrapper {
  padding-bottom: 20px;
  .products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.2rem;
  }

  .product {
    border-radius: 4px;
    .product__img {
      width: 100%;
      height: 220px;
    }
    .product__content {
      .product__name {
        font-weight: 400;
        font-size: 1rem;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: 100%;
      }
      .product__price {
        margin: 0;
      }
    }
    &:hover {
      box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
    }
  }
}
