.product-main-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 40px;
  padding: 20px 40px;
}

.product-section {
  margin-top: 50px;
  @extend .wrapper;
  padding: 20px 40px;
}

.product-detail__gallery {
  padding: 15px;
  box-shadow: 1px 0px 5px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  .main-img {
    width: 100%;
    max-height: 300px;
  }
  .feed-container {
    margin-top: 20px;
    .feed-img {
      width: 100%;
      height: 40px;
      cursor: pointer;
      border: 1px solid #969696;
      &:hover,
      &.active {
        border-color: #e76519;
      }
    }
  }
}

.product-detail__main-info {
  .detail-header,
  .detail-price,
  .product-action {
    margin-bottom: 20px;
  }

  .product-action li {
    margin-bottom: 10px;
  }
}

.product-categories {
  .category-wrapper {
    .cate {
      display: inline-block;
      background-color: #d8d8d8;
      border-radius: 2px;
      position: relative;
      padding: 0 10px;
      box-sizing: border-box;
      margin-left: 30px;
      margin-bottom: 20px;
      a {
        line-height: 2;
        display: block;
        color: #111;
        font-weight: 600;
      }
      &::after {
        content: "";
        position: absolute;
        color: #000;
        left: -15px;
        top: 0;
        border-bottom: 1rem solid transparent !important;
        border-top: 1rem solid transparent !important;
        border-right: 1rem solid #d8d8d8;
        border-left: none;
        z-index: 10;
      }
      &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        z-index: 20;
        background-color: #fff;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        left: -5px;
        box-shadow: inset 1px 1px 0px 1px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.customer-review {
  .review-block {
    border-bottom: 1px solid #0000001f;
    padding: 20px;
    overflow: hidden;
    &:hover {
      background-color: #efefef5e;
    }
    .review-header {
      display: flex;
      align-items: center;
      .user-avatar {
        margin-right: 5px;
        width: 40px;
        height: 40px;
        display: inline-block;
        border-radius: 50%;
      }
    }
    .review-info {
      margin: 15px 0;
      display: flex;
      justify-content: space-between;

      .review-time {
        color: #454545;
        font-size: 0.9rem;
      }
    }
  }
}

.your-review {
  li {
    line-height: 2;
    margin-bottom: 15px;
  }
}
