.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 14px;
  font-size: 1rem;
  border: 0;
  outline: 0;
  background: white;
  border: 1px solid black;
}