.container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
